.contact-main {
  width: 100%;
}

.basic-contact {
  margin-left: 5%;
  margin-right: 5%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-heading-div {
  display: flex;
}

.blog-heading-div {
  display: flex;
}

.address-heading-div {
  display: flex;
  margin-top: var(--space-16);
}

.blog-heading-div > * {
  flex: 1;
}

.contact-heading-div > * {
  flex: 1;
}

.address-heading-div > * {
  flex: 1;
}

.contact-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-heading-img-div {
  align-items: center;
  justify-content: center;
}

.contact-heading-text-div {
  text-align: center;
}

.blog-heading-text-div {
  text-align: center;
}

.address-heading-text-div {
  text-align: center;
}

.contact-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.contact-heading-text {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  font-family: var(--font-family);
  line-height: 1.1;
  text-align: center;
  margin-top: var(--space-12);
  letter-spacing: -0.02em;
}

.blog-heading-text {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  font-family: var(--font-family);
  line-height: 1.1;
  text-align: center;
  margin-top: var(--space-10);
}

.address-heading-text {
  font-size: var(--text-2xl);
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--space-3);
}

.contact-header-detail-text {
  font-size: var(--text-base);
  line-height: 1.7;
  margin-top: 0;
  margin-left: var(--space-6);
  margin-right: var(--space-6);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
}

.blog-header-detail-text {
  font-size: var(--text-base);
  line-height: 1.7;
  margin-top: 0;
  margin-left: var(--space-6);
  margin-right: var(--space-6);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.blogsite-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .contact-heading-text {
    font-size: var(--text-4xl);
    margin-top: var(--space-10);
  }

  .blog-heading-text {
    font-size: var(--text-4xl);
    margin-top: var(--space-8);
  }
}

@media (max-width: 768px) {
  .contact-heading-text {
    font-size: var(--text-3xl);
    margin-top: 0;
  }

  .blog-heading-text {
    font-size: var(--text-3xl);
    margin-top: 0;
  }

  .address-heading-text {
    font-size: var(--text-lg);
  }

  .blog-heading-div {
    flex-direction: column-reverse;
    margin-top: var(--space-12);
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: var(--space-12);
  }

  .blog-heading-text-div {
    margin-top: var(--space-10);
  }

  .address-heading-text-div {
    margin-top: var(--space-10);
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-header-detail-text {
    font-size: var(--text-sm);
    margin-left: 0;
    margin-right: 0;
    line-height: 1.6;
    text-align: center;
  }

  .blog-header-detail-text {
    font-size: var(--text-sm);
    margin-left: 0;
    margin-right: 0;
    line-height: 1.6;
    text-align: center;
  }
}
