.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.competitive-sites-inline {
  display: inline-block;
  margin-right: var(--space-4);
  margin-bottom: var(--space-4);
  font-family: var(--font-family);
  transition: transform var(--transition-fast);
}

.competitive-sites-inline:hover {
  transform: translateY(-3px);
}

.competitive-sites-inline > i {
  color: #94A3B8;
}

.competitive-sites-inline > i:hover {
  color: #06B6D4;
}
