.dev-icons-languages {
  padding-left: 0;
  list-style: none;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

.software-skill-inline-languages {
  display: inline-block;
  margin-right: var(--space-4);
  margin-bottom: 0;
  font-family: var(--font-family);
}

@media (max-width: 768px) {
  .software-skill-inline-languages {
    margin-right: var(--space-2);
    margin-bottom: 0;
  }
}
