.experience-main {
  width: 100%;
}

.basic-experience {
  margin-left: 5%;
  margin-right: 5%;
}

.experience-heading-div {
  display: flex;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-heading-text-div {
  text-align: center;
}

.experience-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.experience-heading-text {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  font-family: var(--font-family);
  line-height: 1.1;
  text-align: center;
  margin-top: var(--space-16);
  letter-spacing: -0.02em;
}

.experience-heading-sub-text {
  font-size: var(--text-2xl);
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--space-3);
}

.experience-header-detail-text {
  font-size: var(--text-base);
  line-height: 1.7;
  margin-top: 0;
  margin-left: var(--space-6);
  margin-right: var(--space-6);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
}

@media (max-width: 1200px) {
  .experience-heading-text {
    font-size: var(--text-4xl);
    margin-top: var(--space-12);
  }
  .experience-heading-sub-text {
    font-size: var(--text-xl);
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: var(--text-3xl);
    margin-top: var(--space-6);
  }

  .experience-heading-sub-text {
    font-size: var(--text-lg);
  }

  .experience-heading-div {
    flex-direction: column;
  }

  .experience-header-detail-text {
    font-size: var(--text-sm);
    margin-right: 0;
    margin-left: 0;
    line-height: 1.6;
    text-align: center;
  }
}

.experience-card {
  min-width: 275px;
  margin-bottom: var(--space-4);
  border-radius: var(--space-3);
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  margin-left: var(--space-3);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(148, 163, 184, 0.06);
  transition: box-shadow var(--transition-base), transform var(--transition-base);
}

.experience-card:hover {
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35);
  transform: translateY(-2px);
}

.arrow-left {
  width: 0;
  height: 0;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  z-index: 100;
}

.experience-card-logo-div {
  margin: 10px;
  margin-top: -10px;
}

.experience-card-stepper {
  display: flex;
  flex-direction:row;
  position: relative;
  align-items: center; 
  flex-direction: column; 
  margin-top: -40px
}

.experience-card-body-div {
  width: 100%;
}

.experience-card-header-div {
  display: flex;
  flex-direction: row;
}

.experience-card-logo {
  width: 90px;
  height: 90px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid rgba(148, 163, 184, 0.06);
}

.experience-card-title {
  font-family: var(--font-family);
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 7px;
  text-align: left;
}

.experience-card-company {
  font-family: var(--font-family);
  margin: 0;
  text-align: left;
}

.experience-card-duration {
  font-family: var(--font-family);
  font-size: var(--text-sm);
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: right;
}

.experience-card-heading-left {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}

.experience-card-heading-right {
  float: right;
  margin-left: auto;
  margin-right: 10px;
}

.experience-card-location {
  font-family: var(--font-family);
  font-size: var(--text-sm);
  margin: 0;
  text-align: right;
}

.experience-card-description {
  margin-top: 5px;
  margin-left: 10px;
  text-align: justify;
  margin-right: 20px;
  font-family: var(--font-family);
}


.experience-card-company > a {
  position: relative;
  color: currentColor;
  text-decoration: none;
}

.experience-card-company > a:hover {
  color: currentColor;
} 

.experience-card-company > a:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

.experience-card-company > a:before {
content: "";
position: absolute;
width: 100%;
height: 1px;
bottom: 0;
left: 0;
background-color: currentColor;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
} 

.experience-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* .dot:before{
  content:' ';
  position: absolute;
  z-index:2;
  left:0;
  top:0;
  width:20px;
  height:20px; 
  background-color: #ff4200;
  border-radius: 50%;
}

.dot:after {
  content:' ';
  position: absolute;
  z-index:1;
  width:20px;
  height:20px; 
  background-color: #ff4200;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
  -webkit-animation-name:'ripple';
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
} */

@keyframes ripple {
   0% {
    left:5px;
    top:5px;
    opcity:75;
    width:0;
    height:0;
  }
  100% {
    left:-20px;
    top:-20px;
    opacity: 0;
    width:50px;
    height:50px;
  }
}

@media (max-width: 768px) {
  .experience-card{
      /* margin-bottom:10px; */
      flex-direction:column;
      text-align: center;
  }

  .arrow-left {
      display: none;
  }

  .experience-card-stepper {
      display: none;
  }

  .experience-list-item {
      flex-direction: column;
  }

  .experience-card-logo {
      width: 100px;
  }

  .experience-card-heading-left {
      float: center;
      margin-left: auto;
      margin-right: auto;
  }

  .experience-card-heading-right {
      float: center;
      margin-left: auto;
      margin-right: auto;
  }

  .experience-card-title {
      /* text-align: center; */
  }

  .experience-card-company {
      /* text-align: center; */
  }

  .experience-card-duration {
      /* margin-top: 2px; */
      /* text-align: center; */
  }

  .experience-card-location{
      /* text-align: left; */
      /* text-align: center; */
  }

  .experience-card-header-div {
      flex-direction: column;
  }

  .experience-card-description {
      margin-left: 14px;
      margin-right: 14px;
      text-align: justify;
  }
}
