.projects-main {
  width: 100%;
  text-align: center;
}

.basic-projects {
  margin-left: 5%;
  margin-right: 5%;
}

.projects-heading-div {
  display: flex;
}

.projects-heading-div > * {
  flex: 1;
}

.projects-heading-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-heading-text-div {
  text-align: center;
}

.projects-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.projects-heading-text {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  font-family: var(--font-family);
  line-height: 1.1;
  text-align: center;
  margin-top: var(--space-16);
  letter-spacing: -0.02em;
}

.projects-heading-sub-text {
  font-size: var(--text-2xl);
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--space-3);
}

.projects-header-detail-text {
  font-size: var(--text-base);
  line-height: 1.7;
  margin-top: 0;
  margin-left: var(--space-6);
  margin-right: var(--space-6);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
}

.publications-heading-text-div {
  text-align: center;
  font-family: var(--font-family);
  margin-top: var(--space-16);
}

.publications-heading-text {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
}

.repo-cards-div-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--space-6);
  margin-top: var(--space-10);
}

@media (max-width: 1200px) {
  .projects-heading-text {
    font-size: var(--text-4xl);
    margin-top: var(--space-12);
  }
  .projects-heading-sub-text {
    font-size: var(--text-xl);
  }
}

@media (max-width: 768px) {
  .projects-heading-text,
  .publications-heading-text {
    font-size: var(--text-3xl);
    margin-top: var(--space-6);
  }

  .projects-heading-sub-text {
    font-size: var(--text-lg);
  }

  .projects-heading-div {
    flex-direction: column;
  }

  .projects-header-detail-text {
    font-size: var(--text-sm);
    margin-right: 0;
    margin-left: 0;
    line-height: 1.6;
    text-align: center;
  }

  .repo-cards-div-main {
    grid-template-columns: 1fr;
    margin-top: var(--space-8);
  }
}
